.achievement {
    font-family: byys;
    font-size: 16px;
}

.achievement-title {
    position: relative;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
    text-align-last: left;
}

.achievement-title::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-image: url(../../assets/004.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.achievement-p {
    color: #9c9c9c;
    line-height: 25px;
    margin: 10px 0;
    text-align-last: left;
}

.achievement-img {
    /* margin: 0 auto; */
    /* height: 200px; */
    margin: 80px 0 0 0;
    text-align: center;
}

.achievement-img img {
    width: 300px;
    max-width: 80%;
}

@media screen and (max-width: 768px) {
    .achievement-img {
        margin: 30px 0 0 0;
        text-align: center;
    }
}