.bg-one {
    width: 100%;
    font-family: 'byys';
    height: 500px;
    background-image: url('../../assets/53.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.bg-content {
    margin: 0 auto;
    width: 1200px;
    text-align: left;
    color: #fff;
    padding: 100px 50px;
}

.bg-title {
    /* padding: 0 50px; */
    height: 100px;
    line-height: 100px;
    font-size: 40px;
}

.bg-p {
    line-height: 25px;
    margin: 0 0 30px 0;
}

.joinWe {
    font-family: 'zch';
    width: 150px;
}