.ant-timeline-item {
    height: 61px;
    font-family: 'byys';
}

.teamHistory {
    background-image: url(../../assets/预览图_千图网_编号33821555_01.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    position: relative;
    /* overflow: hidden; */
    /* background-color:  #f2f2f2; */
    /* text-align: left !important; */
    border: 1px solid #aaa;
}

.teamHistory::after {
    position: absolute;
    right: 50px;
    bottom: -23px;
    content: '';
    width: 100px;
    height: 200px;
    background-image: url(../../assets/002.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.teamHistory::before {
    position: absolute;
    left: 0;
    top: -50px;
    content: '';
    width: 150px;
    height: 200px;
    background-image: url(../../assets/007.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.teamHistory-title {
    text-align: center;
    font-family: byys;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}

.teamHistory-timeLine {
    width: 80%;
    /* height: 300px; */
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .teamHistory {
        max-width: 100%;
        width: 100%;
        border: none;
    }
    .teamHistory::before {
        left: -30px;
    }
    .teamHistory::after {
        right: -20px;
    }
}