.layer-foot {
    font-family: byys;
}

.layer-foot-top {
    padding: 20px 40px;
    /* height: 250px; */
    background-color: rgb(64, 64, 64);
}

.layer-foot-bottom {
    text-align: left;
    padding: 40px 0 0 0;
    color: #fff;
    /* height: 350px; */
    background-color: #2d2d2d;
}

.layer-foot-bottom .ant-col {
    padding-left: 10%;
    width: 50vw !important;
}

.bottom-mainTitle {
    font-size: 25px;
    height: 60px;
    line-height: 60px;
}

.bottom-sideTitle {
    color: #ddd;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
}

.bottom-content {
    height: 30px;
    line-height: 30px;
}

.bottom-icon {
    padding: 10px 0 10px 0;
    /* height: 0px; */
    /* line-height: 60px; */
}

.bottom-icon img {
    width: 100px;
    height: 100px;
}

.bottom-link {
    height: 40px;
    line-height: 40px;
}

.bottom-content a {
    color: #fff !important;
}

.copyright {
    text-align: center;
}