#nav {
    z-index: 999;
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.nav-left {
    padding: 15px 0;
    height: 80px;
    font-size: 30px;
    /* line-height: 80px; */
    text-align: left;
    font-family: 'byys';
}

.nav-left-title {
    height: 50px;
}

@media screen and (max-width: 768px) {
    .nav-left-title {
        text-align: center;
    }
}

.nav-right {
    margin: 0 auto;
    height: 80px;
    font-family: 'zch';
}

.nav-right .nav ul {
    display: flex;
    justify-content: space-between;
}

.nav-right .nav ul li {
    font-size: 16px;
    text-align: center;
    width: 80px;
    list-style: none;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
}

.logo {
    top: 15px;
    width: 50px;
    vertical-align: middle;
}