.teamIntruduce {
    padding-bottom: 50px;
    font-family: 'byys';
}

.bg-pic::before {
    position: absolute;
    /* left: 540px; */
    top: -80px;
    content: '';
    width: 180px;
    height: 160px;
    background-image: url(../../assets/006.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.teamIntruduce-title {
    position: relative;
    margin-top: 120px;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ddd;
}


/* .teamIntruduce-title */

.teamIntruduce-p {
    /* height: 40px; */
    /* padding: 0 20px; */
    font-size: 18px;
    line-height: 40px;
    color: #6d6d6d;
}

.teamIntruduce-p p {
    margin: 10px 0;
}

.teamIntruduce-photo img {
    width: 400px;
    max-width: 80%;
    margin: 20px 0;
}

@media screen and (max-width: 768px) {
    .teamIntruduce-p {
        padding: 20px 0 0 0;
        max-width: 100%;
        width: 100vw;
    }
    .teamIntruduce-p p {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
}