@import '~antd/dist/antd.css';

/** @format */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: 'llcht';
    src: url('./assets/font/字魂2号-力量粗黑体.ttf');
}

@font-face {
    font-family: 'byys';
    src: url('./assets/font/字魂45号-冰宇雅宋.ttf');
}

@font-face {
    font-family: 'zch';
    src: url('./assets/font/字魂58号-创中黑.ttf');
}

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    max-width: 80%;
}

a {
    color: #000;
    text-decoration: none;
}

.rocket {
    position: fixed;
    width: 100px;
    /* height: 100px; */
    z-index: 1000;
    bottom: 200px;
    right: 100px;
    overflow: hidden;
    transform: scale(0);
    cursor: pointer;
}

.rocket img {
    width: 80px;
    /* height: 100px; */
}

@media screen and (max-width: 768px) {
    .rocket {
        width: 60px;
        /* height: 100px; */
        bottom: 40px;
        right: 40px;
        overflow: hidden;
        transform: scale(0);
        cursor: pointer;
    }
    .rocket img {
        width: 60px;
    }
}

.cutLine {
    position: relative;
    height: 20px;
    width: 900px;
    max-width: 100%;
    /* transform: translate(-30px); */
    /* margin: 0 0; */
    border-radius: 0 10px 10px 0;
    background-image: radial-gradient( circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
}

.cutLine::before {
    content: '';
    position: absolute;
    top: -60px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-image: url('./assets/008.png');
    background-size: 100%;
    background-repeat: no-repeat;
}