.group {
    font-family: byys;
}

.group-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.group-title>span {
    border-left: 5px solid green
}

.group-contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.g-content {
    position: relative;
    background-image: url(../../assets/hb.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 240px;
    height: 320px;
    /* border: 1px solid #ddd; */
    margin: 40px 80px;
    padding: 40px;
}

.g-content-title {
    font-size: 24px;
}

.g-content-sidetitle {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
}

.g-content-p {
    font-size: 16px;
    text-align: left;
    color: #9d9d9d;
    margin: 3px 0;
}

.g-content-bt {
    height: 50px;
    line-height: 60px;
}

@media screen and (max-width: 768px) {
    .g-content {
        left: -20px;
        margin: 20px auto;
        border-radius: 10px;
    }
    /* .g-content:nth-child()::before {
        content: '';
        position: absolute;
        z-index: -2;
        width: 110%;
        left: 0;
        transform: translate(-10px,-60px) rotate(-2deg);
        height: 110%;
        border-radius: 20px;
        background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);

    } */
    .g-content::before {
        content: '';
        position: absolute;
        z-index: -2;
        width: 110%;
        left: 0;
        border-radius: 20px;
    }
    .g-content:nth-child(1) {
        left: -40px;
    }
    .g-content:nth-child(1)::before {
        transform: translate(-10px, -60px) rotate(-2deg);
        height: 110%;
        border-radius: 20px;
        background-image: linear-gradient( to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    }
    .g-content:nth-child(2) {
        top: -50px;
        left: 40px;
    }
    .g-content:nth-child(2)::before {
        transform: translate(-10px, -60px) rotate(3deg);
        height: 110%;
        border-radius: 20px;
        background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    }
    .g-content:nth-child(3) {
        top: -70px;
        /* left: 40px;	 */
    }
    .g-content:nth-child(3)::before {
        transform: translate(-10px, -60px) rotate(-5deg);
        height: 110%;
        border-radius: 20px;
        background-image: linear-gradient( to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    }
    .g-content:nth-child(4) {
        top: -80px;
        left: 40px;
    }
    .g-content:nth-child(4)::before {
        transform: translate(-10px, -60px) rotate(15deg);
        height: 110%;
        border-radius: 20px;
        background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    }
    .g-content:nth-child(5) {
        top: -90px;
        left: -60px;
    }
    .g-content:nth-child(5)::before {
        transform: translate(-10px, -60px) rotate(-8deg);
        height: 110%;
        background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
    }
    .g-content:nth-child(6) {
        top: -110px;
        left: 60px;
    }
    .g-content:nth-child(6)::before {
        transform: translate(-10px, -60px) rotate(8deg);
        height: 110%;
        background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    }
}